@model AquaWebStore.Models.Hsuit

@{
    ViewBag.Title = "Index";
}

<h2>
    All Models
        @foreach (var c in ViewBag.Categories)
        {
            <a href="~/category/look/@c.CategoryId">@c.Name</a>
        }


</h2>
    <table>
        <tr>
    @foreach (var s in ViewBag.suits)
    {
        <td align="center">
            <p>@s.Name</p>
            <a href="~/hsuit/look/@s.Id"><p><img width="70%" src="~/Pictures/@s.DefaultImage" /></p></a>
                <p>@s.Description</p>
                <p>@s.Price.ToString("# RUB")</p>
           
        </td>
    }
        </tr>        
    </table>

