@model AquaWebStore.Models.Hsuit

@{
    ViewBag.Title = "Look";
}

<h2>@Model.Name</h2>
<div>
    <table>
        <tr>
            <td>@Model.Name</td>
        </tr>
        <tr><td><img width="175" height="425" src="~/Pictures/@Model.Photo" /></td></tr>
        <tr><td>@Model.Description</td></tr>
        <tr><td>@Model.Price р</td></tr>
        
    </table>


</div>

