
@{
    ViewBag.Title = "Home";
}

<h2>Aqua Web Store - your surf dream will come true</h2>
<table>
    <tr>
        <td><img width="80%" src="~/Pictures/HomePage.jpg" /></td>        
    </tr>
</table>

